@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

* {
    box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Noto Sans TC', sans-serif;
  background:rgba(5, 36, 71, 0.9);
}

.videoDiv {
  font-size: 0px;
  position: relative;
}

.videoDiv video {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.content {
    margin-top: 0px;
    color: rgba(5, 36, 71, 0.7);
    position: absolute;
    right: 50%;
    bottom: 50%;
    left: 40%;
    height: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}

#login {
  margin-top: 10px;
  background-color: rgba(5, 36, 71, 0.4);
  border: none;
  outline: none;
  color: rgba(5, 36, 71, 1);
  height: 30px;
  width: 120px;
  font-size: 20px;
  border-radius: 5px;
}

.userName {
  background-color: rgba(5, 36, 71, 0.4);
  border: none;
  outline: none;
  color: rgba(5, 36, 71, 1);
  height: 30px;
  width: 120px;
  font-size: 18px;
  border-radius: 5px;
}

#userName:focus {
  background-color: rgba(5, 36, 71, 0.7);
}

#login:hover {
  background-color: rgba(5, 36, 71, 0.7);
}

.column {
  float: left;
  width: 50%;
  padding: 0px;
  position: relative;
  transition: box-shadow 1000ms, opacity 1000ms;


}

.column:hover {
  opacity: 0.5;
  box-shadow: 5px 5px 10px
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column h1 {
  color: #fff;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  margin: 0px;
}

.footer {
  font-size: 12px;
  color: rgba(5, 36, 71, 1);
}

h2 {
  position: relative;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}

a {
  text-decoration: none;
}
